/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
  background-color: black;
}

/* hero background image */
<style>
.banner {
  /* The image used */
  background-image: url('https://github.com/sandtorm009/sandstorm009.github.io/blob/main/images/heroImage.jpeg');
}
</style>


/* spacing on all sections */
/* #about, #services, #portfolio, #contact {
  margin-top: 4rem;
  padding-top: 4rem;
} */
#contact {
  padding-bottom: 4rem;
}
/* about section image css */
.imageAboutPage {
  width: 100%;
}

/* services section css */
.servicesText.card {
  height: 280px;
  cursor: pointer;
}
.servicesIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}
.card-title {
  text-align: center;
}
.card:hover .servicesIcon {
  color: #008000;
}
.servicesText:hover {
  border: 1px solid #008000;
}

/* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
  color: #008000;
}
.fab {
  color: #000000;
}
/* footer styling */
#footer {
  background-color: #808080;
  text-align: center;
}
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
