<body>

  <!-- Add your site or application content here -->
  <p>Hello world! This is HTML5 Boilerplate.</p>
</body>

</html>
<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: WhiteSmoke;}
h1   {color: DarkGray;}
p    {color: LightGray;}
</style>
</head>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>

</body>
</html>
